@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$width: 30px;
$height: 30px;
$margin: 5px;

body{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.buttons {
    margin-top: 20px;
}

#canvas{
    background-color: lightgrey;
    margin-top: 20px;;
}

#word {
    display: flex;
    margin-top: 20px;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $width;
        height: $height;
        margin: $margin;
        border-bottom: 3px solid black;
        font-size: 2rem;
        text-align: center;
    }
}

#alphabet{
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: $width;
        height: $height;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: $margin;
        font-size: 2rem;
        cursor: pointer;
    }
}